<h1 style="text-align:center;">Testimonials:</h1>
<div class="container-fluid review-container" id="reviews">
    <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner d-flex justify-content-center">
            <div class="carousel-wrapper">
                <div class="carousel-item active">
                    <div class="card shadow mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/review_person1.jpeg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-5 d-flex flex-column justify-content-between">
                            <div><h5 class="card-title">A fantastic course</h5></div>
                            <div><p class="card-text fst-italic">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.</p></div>
                            <div class="align-self-end"><p class="card-text "><small class="text-muted">Lisa S.</small></p></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card shadow mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/review_person2.jpeg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-5 d-flex flex-column justify-content-between">
                            <div><h5 class="card-title">My life has changed</h5></div>
                            <div><p class="card-text fst-italic">Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No?</p></div>
                            <div class="align-self-end"><p class="card-text "><small class="text-muted">Tom T.</small></p></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card shadow mb-3">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/img/review_person3.jpeg" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-5 d-flex flex-column justify-content-between">
                            <div><h5 class="card-title">This was just the beginning.</h5></div>
                            <div><p class="card-text fst-italic">The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children.</p></div>
                            <div class="align-self-end"><p class="card-text "><small class="text-muted">Aaron P.</small></p></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>