<div class="container-fluid video-container">
    <video  style="max-height: 80vh;" poster="../../assets/img/boris_still.png" video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="../../assets/video/boris_short.mp4" type="video/mp4">
    </video>  
    <div id="overlay" class="position-relative d-flex justify-content-center">             
        <p class="fs-3 text-center">
            <a class="text-white" href="https://www.youtube.com/watch?v=Q3sMAjmvpmc" target="_blank">Watch on 
                <i class="fab fa-youtube display-6"></i>
            </a>
        </p>
    </div>
</div>
      