<div class="ticker-wrap">
    <div class="ticker">
      <div class="ticker__item"><a href="https://codefactory.wien/en/job-opening-senior-java-trainer/" class="text-decoration-none" target="_blank">+++ Job opening: Senior JAVA Trainer +++</a></div>
      <div class="ticker__item" target="_blank"><a href="https://codefactory.wien/en/news-successful-completion-of-the-codefactory-full-stack-web-developer-graduate-program/" class="text-decoration-none" target="_blank">+++ Successful completion of the CodeFactory Full Stack Web Developer graduate program. +++</a></div>
      <div class="ticker__item"><a href="https://codefactory.wien/en/our-students-say/" class="text-decoration-none" target="_blank">+++ What our students say +++</a></div>
    </div>
</div>